@use '../../styles/variables' as *;

.scroll-progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.5px;
  z-index: 1001;
  background: transparent;
  pointer-events: none;

  .scroll-progress-bar {
    height: 100%;
    background-color: $text-primary;
    transition: width 0.08s ease-out;
  }
}
